---
import LayoutAstroComponent from "../layouts/Layout.astro";
import HeaderAstroComponent from "../shared/sections/Header.astro";
import { TemplateFooter } from "../menu-angular/base-template/components/footer/footer";
import { WhatsAppButton } from "../menu-angular/components/whatsapp-button/whatsapp-button.component";
import MainContent from "../shared/components/mainContent.astro";
import Hero from "../shared/sections/hero.astro";
import { EVENTS_CONTENT } from "../data/events/events-content";
import TestimonialsSlider from "../shared/sections/TestimonialSection.astro";
import VideoGallery from "../shared/sections/VideoGallery.astro";
import { PromotionsSectionComponent } from "../menu-angular/components/promotions-section/promotions-section.component";
const videos = [
  {
    id: "1",
    src: "/video/video1.mp4",
    poster: "/video/video1.jpeg",
    title: "Pollo a la Brasa",
    caption: "Nuestro plato estrella",
  },
  {
    id: "2",
    src: "/video/video2.mp4",
    poster: "/video/video2.jpeg",
    title: "Pollo a la Brasa",
    caption: "Nuestro plato estrella",
  },
];
---

<LayoutAstroComponent
  title="La Casona Manchay"
  description="Disfruta de los mejores platillos en La Casona Manchay. Tradición y sabor en cada bocado."
  keywords="La Casona Manchay, comida peruana, restaurantes Lima, gastronomía, eventos"
  ogType="restaurant.restaurant"
  canonicalUrl="/"
  ogImage="/og-image.jpg"
>
  <HeaderAstroComponent />
  <MainContent>
    <Hero />
    <PromotionsSectionComponent client:load />

    <section class="flex w-full mx-auto h-160 bg-primary">
      <img
        src="/cuadricula-lacasona.svg"
        alt=""
        class="w-full h-auto object-cover"
      />
    </section>

    <VideoGallery
      videos={videos}
      columns={3}
      sectionTitle="Momentos en La Casona"
    />
    <TestimonialsSlider
      title={EVENTS_CONTENT.testimonials.title}
      subtitle={EVENTS_CONTENT.testimonials.subtitle}
      reviews={EVENTS_CONTENT.testimonials.reviews}
      cta={EVENTS_CONTENT.testimonials.cta}
    />
  </MainContent>
  <TemplateFooter client:visible />
  <WhatsAppButton client:visible />
  <div
    class="h-10 fixed bottom-0 bg-linear-to-t from-black fr to-transparent w-full"
  >
  </div>
</LayoutAstroComponent>
